[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "MCMCpack"]
	path = MCMCpack
	url = https://github.com/cran/MCMCpack
[submodule "NetworkChange"]
	path = NetworkChange
	url = https://github.com/jongheepark/networkchange
